<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitherejoe.aware">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.snapshot.headphone.HeadphoneActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.snapshot.weather.WeatherActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.snapshot.places.PlacesActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.snapshot.user.UserActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.snapshot.location.LocationActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.snapshot.beacons.BeaconActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.fence.headphone.HeadphoneFenceActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.fence.user.DetectedActivityFenceActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.fence.location.LocationFenceActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.fence.time.TimeFenceActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.fence.beacon.BeaconFenceActivity"
            android:parentActivityName=".ui.main.MainActivity" />

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBnMlGBLJ6fcK9Jx6eDmGISfl8Vsp87edo" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnMlGBLJ6fcK9Jx6eDmGISfl8Vsp87edo" />

    </application>

</manifest>
